videos
temp/
old/poc1/videos
old/poc2/videos
.idea
/workout_classifier_hydrow/Workout.csv
workout_classifier_hydrow/csv_processor.py
workout_classifier_hydrow/.env
workout_classifier_youtube/.env
workout_classifier_spotify/.env
spotify_workouts_analyzed.csv
